

body {
  font-family: 'Montserrat', sans-serif;
  margin:0 auto;  
}

a {
  text-decoration: none !important;
}
::placeholder {
  color:#949090
}

label{
  padding: 10px;
  background: red; 
  display: table;
  color: #fff;
   }

input[type="file"] {
  display: none;
}
